HELP.md

# Java heap dump
*.hprof

# Log file
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

### macOS ###
# General
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.idea_modules/

### Gradle ###
# .gitignore created from Groovy contributors in https://github.com/apache/groovy/blob/master/.gitignore
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties
!**/src/main/**
!**/src/test/**
